html{
    display: block;
    width: 100%;
    height: auto;
}
body{
    display: block;
    width: 100%;
    height: auto;
    margin: 0 auto;
    // background-color: #111111;
    background: linear-gradient(135deg, #993355 0%, #5577aa 100%);
}

#root{
    display: block;
    width: 100%;
    height: auto;
    margin: 0 auto;
}